.profile-actions-wrapper {
  width: 30%;
  @media (max-width: 650px) {
    width: 100%;
    padding: 15px 0 0 0;
    .login-info {
      padding: 0 !important;
    }
  }
  .login-info {
    padding: 0 0 0 20px;
    overflow: auto;
    .address {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    .transact-wrapper {
      .transact-button-wrapper {
        display: flex;
        justify-content: flex-end;
        .transact-button {
          min-width: 100px;
          justify-content: center;
        }
      }
    }
  }
}